venv
my_blog/my_blog/__pycache__/
my_blog/blog/__pycache__/
my_blog/blog/migrations/__pycache__/
my_blog/db.sqlite3
my_blog/user_registration/__pycache__
my_blog/user_registration/migrations/__pycache__

